.content{
    display: flex;
}

.signup{
    position: absolute;
    left:30%;
    top: 10%;
    width: 40%;
    padding: 5%;
}

.navbar{
    background-color: #e3f2fd;
    
}
.navbar .container-fluid{
    display: flex;
    margin: 0 15%;
}

#auth-page {
    position: absolute;
    left: 30%;
    width: 40%;
    padding: 2%;
    border: 1px solid black;
  }

.signupform,
.loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupform{
    display: none;
}

