{% extends 'taskplanner/base.html'%}

{% block content %}
    <div class="task card">
        <h1 class="text-center"> Create Task </h1>
        <h2 class="text-danger">{{ error }}</h2>
        <form action="" method="post" class="task">
            <div class="mb-3">
                <label for="id_title" class="form-label">Title</label>
                <input type="text" name="title" maxlength="100" required="" id="id_title" class="form-control">  
            </div>
            <div class="mb-3">
                <label for="id_description" class="form-label">Description</label>
                <textarea name="description" cols="40" rows="10" id="id_description" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="id_deadline" class="form-label">Deadline</label>
                <input type="date" name="deadline" id="id_deadline" class="form-control">
                <div class="form-text"> You can enter time in any format <br> E.g. 45 minutes, 2 hours </div>
            </div>
            <hr>
            <h4 class="text-center"> Allocate time for your task!</h4>
            <div class="mb-3">
                <label for="id_do_date" class="form-label">Date</label>
                <input type="date" name="do_date" id="id_do_date" class="form-control">
            </div>
            <div class="mb-3">
                <label for="id_start_time" class="form-label" >Start Time</label>
                <input type="time" name="start_time" id="id_start_time" class="form-control">
            </div>
            <div class="mb-3">
                <label for="id_end_time" class="form-label" >End Time</label>
                <input type="time" name="end_time" id="id_end_time" class="form-control">
            </div>
            
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-success"> Create Task</button>
        </form>
        
    </div>
{% endblock %}

