{% extends 'taskplanner/base.html'%}
{% block content %}
<br>
    <h3>Completed Tasks</h3>
    <ul class="tasks">
        {% for task in tasks %}
        <li><div class="card">
            <div class="card-header">{{task.title}}</div>
            <div class="card-body">
            {% if task.description %}
                {{task.description}}
            {% endif %}
            <a href="{% url 'viewtask' task.id %}" class="stretched-link"></a>
            </div>
            <div class="card-footer">
                Completed on {{task.completed_date}}
            </div>
        </div></li>
        {% endfor %}
    </ul>
{% endblock %}