{% extends 'taskplanner/base.html'%}
{% block content %}
    {% if not user.is_authenticated %}
    <br>
    <div class="text-center landing">
        <h3>Welcome to Task Planner!</h3>
        <p>
            Here you can manage your tasks and keep track of what has been and what is remaining very easily!
            You can customise your tasks, delete them, and even redo them if it comes up again!
        </p>
        <div>
            <button class="btn btn-outline-primary"><a class="nav-link active" aria-current="page" href="{% url 'signupuser' %}">Sign up here!</a></button>
            <button class="btn btn-outline-primary"><a class="nav-link active" aria-current="page" href="{% url 'loginuser' %}">Login here!</a></button>
        </div>
    </div>
    {% else %}
    <br>
    <h3>Your Tasks</h3>

    {% if tasks.count == 0 %}
        <h5 class="text-center text-primary landing">
            You do not have any pending tasks. Nice Job!
            To redo a task, go to Completed Tasks and select any task you would like to redo!
            <br>
            <br>
            <button class="btn btn-primary">
            <a class="nav-link active" aria-current="page" href="{% url 'addtask' %}">New Task</a>
            </button>
 
            <button class="btn btn-primary">
            <a class="nav-link active" aria-current="page" href="{% url 'viewcompletedtasks' %}">View completed tasks</a>
            </button>
        </h5>
    {% endif %}
    
    <div class="viewtoggle btn-group container-fluid" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-info" id="loginform"> Individual view</button>
        <button type="button" class="btn btn-secondary" id="signupform"> Table view </button>
      </div>   
    <ul class="soloview tasks">
        {% for task in tasks %}
        <li><div class="card">
            <div class="card-header">{{task.title}}</div>
            <div class="card-body">
            {% if task.description %}
                {{task.description}}
            {% endif %}
            <a href="{% url 'viewtask' task.id %}" class="stretched-link"></a>
            </div>
            <div class="flexy">
                <span class="text-center card-body start_time">
                    Start time: {{task.start_time}}
                </span>
                <span class="text-center card-body end_time">
                    End time: {{task.end_time}}
                </span>
            </div>
            {% if task.deadline %}
            <div class="card-footer">
                Deadline: {{task.deadline}}
            </div>
            {% endif %}
        </div></li>
        {% endfor %}
    </ul>
    <ul class="current tableview tasks">
        <table class="text-center">
            <tr class="text-center">
            <th>Title</th>
            <th>Date</th>
            <th>Start time</th>
            <th>End Time</th>
            <th> Deadline</th>
            </tr>
        {% for task in tasks %}
        <tr>
            <th>{{task.title}}<a href="{% url 'viewtask' task.id %}" class="stretched-link"></a></th>
            <th>{{task.do_date}}</th>
            <th>{{task.start_time}}</th>
            <th>{{task.end_time}}</th>
            <th>{{task.deadline}}</th>
        </tr>
        {% endfor %}
    </table>
    </ul>
    {% endif %}
{% endblock %}