<!-- Import the base template -->
{% extends 'taskplanner/base.html'%}

{% block content %}
<div class="signup card">
    <h1>Login </h1>
    <h2>{{ error }}</h2>
    <form action="" method="post">
        <!-- CSRF TOKEN is necessary -->
        <div class="mb-3">
            <label for="id_username" class="form-label">Username</label>
            
            <input type="text" class="form-control" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
            <div class="form-text">Make sure your username is unique</div>
        </div>
        
        <div class="mb-3">
            <label for="id_password1" class="form-label">Password</label>    
            <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" class="form-control" aria-describedby="passwordHelpBlock">
            <div id="passwordHelpBlock" class="form-text"> Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</div>
        </div>
    {% csrf_token %}
    <br><button type="submit" class="btn btn-primary">Login </button>
    </form>
</div>
{% endblock %}

