{% extends 'taskplanner/base.html'%}
{% block content %}  

<h2 class="text-danger"> {{ error }}</h2>
    <div class="card task">
        <h3 class="text-center">Modify task</h3>
        <!-- Save your task -->
        <form action="" method="post" class="task">
            <div class="mb-3">
                <label for="id_title" class="form-label">Title</label>
                <input type="text" name="title" maxlength="100" required="" id="id_title" class="form-control" value="{{ task.title }}">  
            </div>
            <div class="mb-3">
                <label for="id_description" class="form-label">Description</label>
                <textarea name="description" cols="40" rows="10" id="id_description" class="form-control" value="">{{ task.description }}</textarea>
            </div>
            <div class="mb-3">
                <label for="id_time_req" class="form-label" >Time req</label>
                <input type="text" name="time_req" id="id_time_req" class="form-control" value="{{ task.time_req }}">
            </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-success"> Save Task</button>
        {% if task.completed is None %}
        <button type="button" class="btn btn-outline-primary" onclick="$('#complete').click()">Complete Task</button>
        {% else %}
        <button type="button" class="btn btn-outline-primary" onclick="$('#complete').click()">Redo Task </button>
        {% endif %}
        <button type="button" class="btn btn-outline-danger" onclick="$('#delete').click()">Delete Task </button>
        </form>
        <div class="buttons">
            <!-- Complete the task -->
            {% if task.completed is None %}
            <form style='display: none;' action="{% url 'completetask' task.id %}" method="post">
                {% csrf_token %}
                <button type="submit" id="complete"> Complete Task </button>
            </form>
            <!-- If user wants to use the task again -->
            {% else %}
            <form style='display: none;' action="{% url 'redotask' task.id %}" method="post">
                {% csrf_token %}
                <button type="submit" id="complete"> Complete Task </button>
            </form>
            {% endif %}
            
            <!-- Delete the task -->
            <form style='display: none;' action="{% url 'deletetask' task.id %}" method="post">
                {% csrf_token %}
                <button type="submit" id="delete"> Delete Task </button>
            </form>
        </div>
    </div>
<a href="{% url 'home' %}" class="btn btn-outline-primary"> Go back </a>
<br>
{% endblock %}