{% extends 'taskplanner/base.html'%}
{% block content %}  

<h2 class="alert alert-danger"> {{ error }}</h2>
<div class="tasks">
    <div class="card task">
        <form action="" method="post">
            {{ form.as_div }}
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-success"> Save </button>
        </form>
        <form action="{% url 'completetask' task.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-success"> Complete </button>
        </form>
    </div>
</div>
<br>
<a href="{% url 'home' %}" class="btn btn-outline-primary"> Go back </a>
{% endblock %}