/*----------------------Landing page styling---------------- */
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing{
    margin: 5%;
    padding: 5%;
    width: 50%;
}
/*----------------------Individual Login and Signup page CSS---------------- */
.signup,.login{
    position: absolute;
    left:30%;
    top: 10%;
    width: 40%;
    padding: 3% 5%;
    margin: 2% auto;
}

/*----------------------Navbar styling---------------- */
.navbar{
    background-color: #e3f2fd;
    
}
.navbar .container-fluid{
    display: flex;
    margin: 0 15%;
    align-items: center;
}

.navbar .nav-link:hover{
    color: #1969a7;
}

/* ---------------------Tasks styling----------------------------- */
.tasks{
    width: 50%;
    list-style: none;
    margin: 2.5% 0%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tasks .card{
    margin: 2.5% 0;
}

.flexy{
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 0.5px solid rgba(0, 0, 0, 0.175);
}
.flexy span{
    border-right: 0.5px solid rgba(0, 0, 0, 0.175);
}

/* ---------------------Individual Tasks----------------------------- */
.task{
    margin: 2.5% 0;
    padding: 2.5%;
    width: 40%;
}   
.task .task{
    width: 100%;
}



/*---------------------Mobile View------------------*/

@media (max-width: 768px) {
    /*----------------------Individual Login and Signup page CSS---------------- */
    .signup,.login{
        position: relative;
        width: 90%;
        left: 0%;
        margin: 10% 0;
    }
    .signup button, .login button{
        width: 100%;
        margin-bottom: 2.5%;
    }
    /*----------------------Navbar styling---------------- */
    .navbar .container-fluid{
        display: flex;
        margin: 0 5%;
        align-items: center;
    }
    /*----------------------Landing page styling---------------- */
    .landing{
        margin: 3% 1%;
        padding: 2%;
        width: 90%;
        font-size: 1.1em;
    }
    /* ---------------------Tasks styling----------------------------- */
    .tasks{
        width: 100%;
        margin: 2.5%;
    }
    
    .tasks .card{
        width: 90%;
        margin: 0 2.5%;
        margin-top: 5%;
    }
    /* ---------------------Individual Tasks----------------------------- */
    .task{
        margin: 5% 0;
        padding: 5% 2.5% 2%;
        width: 90%;
    }   
    .task .task{
        width: 100%;
    }
    .task button{
        width: 90%;
        margin-left: 5%;
        margin-bottom: 3%;
    }
}

/*---------------------CSS of Integrated Login and Signup Page------------------*/
#auth-page {
    position: absolute;
    left: 30%;
    width: 40%;
    padding: 2%;
    border: 1px solid black;
  }

.signupform,
.loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupform{
    display: none;
}